{% embed 'partials/base.html.twig' %}
	{% block content %}

			{% include 'partials/audio.html.twig' %}

      {# Soldier A #}
      <a href="{% if page.header.a %}{{ page.header.a }}{% else %}#{% endif %}" {% if page.header.a %}{% else %}onclick="play('shot-a')"{% endif %}>
        <div id="soldier_a"></div>
      </a>
      <audio id="shot-a" src="{{ url('theme://audio/shot-a.mp3') }}" ></audio>

      {# Soldier B #}
      <a href="{% if page.header.b %}{{ page.header.b }}{% else %}#{% endif %}" {% if page.header.b %}{% else %}onclick="play('shot-b')"{% endif %}>
        <div id="soldier_b"></div>
      </a>
      <audio id="shot-b" src="{{ url('theme://audio/shot-b.mp3') }}" ></audio>

      {# Soldier C #}
      <a href="{% if page.header.c  %}{{ page.header.c }}{% else %}#{% endif %}" {% if page.header.c %}{% else %}onclick="play('shot-c')"{% endif %}>
        <div id="soldier_c"></div>
      </a>
      <audio id="shot-c" src="{{ url('theme://audio/shot-c.mp3') }}" ></audio>

      {# Soldier D #}
      <a href="{% if page.header.d %}{{ page.header.d }}{% else %}#{% endif %}" {% if page.header.d %}{% else %}onclick="play('shot-d')"{% endif %}>
        <div id="soldier_d"></div>
      </a>
      <audio id="shot-d" src="{{ url('theme://audio/shot-d.mp3') }}" ></audio>

      {# Soldier E #}
      <a href="{% if page.header.e %}{{ page.header.e }}{% else %}#{% endif %}" {% if page.header.e %}{% else %}onclick="play('shot-5')"{% endif %}>
        <div id="soldier_e"></div>
      </a>
      <audio id="shot-5" src="{{ url('theme://audio/shot-e.mp3') }}" ></audio>

      {# Soldier F #}
      <a href="{% if page.header.f %}{{ page.header.f }}{% else %}#{% endif %}" {% if page.header.f %}{% else %}onclick="play('shot-6')"{% endif %}>
        <div id="soldier_f"></div>
      </a>
      <audio id="shot-6" src="{{ url('theme://audio/shot-f.mp3') }}" ></audio>

      {# Soldier G #}
      <a href="{% if page.header.g %}{{ page.header.g }}{% else %}#{% endif %}" {% if page.header.g %}{% else %}onclick="play('shot-7')"{% endif %}>
        <div id="soldier_g"></div>
      </a>
      <audio id="shot-7" src="{{ url('theme://audio/shot-g.mp3') }}" ></audio>

			{# Balloon #}
			{% if page.header.type == "balloon" %}
				<blockquote id="balloon-{{ page.slug()|first|lower }}">
					{{ page.content }}
				</blockquote>

			{# Thought #}
			{% elseif page.header.type == "thought" %}
				<div id="thought-{{ page.slug()|first|lower }}" {% if page.header.no_dialog_fade is null %}class="dialog-fade-in thought"{% endif %}>
					<div id="thought-content" {% if page.header.text %}class="{{ page.header.text }}"{% else %}class="blue"{% endif %}>{{ page.content }}</div>
				</div>

			{# Thought Chest #}
			{% elseif page.header.type == "thought-chest" %}
					<div id="thought-{{  page.slug()|first|lower }}">
						<a href="{{ page.header.link }}" onmouseover="play('latch-open')">
							<div id="small-chest">
								<audio id="latch-open" src="{{ url('theme://audio/latch-open.mp3') }}"></audio>
							</div>
						</a>
					</div>

			{# Large Chest #}
			{% elseif page.header.type == "chest-closed" or "chest-open" %}
				<a href="{{ page.header.link }}"><div id="{{ page.header.type }}"></div></a>
			{% else %}
				{{ page.content }}
			{% endif %}

			{# Hints #}
			{#
			{% if page.header.hint %}
				<div id="hint-{{ page.header.hint }}">
					{% if page.header.link_a and page.header.link_b and page.header.link_c %}
						<div class="keyhole keyhole-left mouse-off"></div>
						<a href="{{ page.header.link_a }}"><div class="keyhole keyhole-left mouse-on"><div class="keyflash"></div></div></a>
						<div class="keyhole keyhole-center mouse-off"></div>
						<a href="{{ page.header.link_b }}"><div class="keyhole keyhole-center mouse-on"><div class="keyflash"></div></div></a>
						<div class="keyhole keyhole-right mouse-off"></div>
						<a href="{{ page.header.link_c }}"><div class="keyhole keyhole-right mouse-on"><div class="keyflash"></div></div></a>
					{% elseif page.header.keyholes == "on" %}
						<div class="keyhole keyhole-left mouse-off"></div>
						<a href="{{ page.header.link }}"><div class="keyhole keyhole-left mouse-on"><div class="keyflash"></div></div></a>
						<div class="keyhole keyhole-center mouse-off"></div>
				    <a href="{{ page.header.link }}"><div class="keyhole keyhole-center mouse-on"><div class="keyflash"></div></div></a>
						<div class="keyhole keyhole-right mouse-off"></div>
				    <a href="{{ page.header.link }}"><div class="keyhole keyhole-right mouse-on"><div class="keyflash"></div></div></a>
					{% elseif page.header.keyholes == "a" %}
						<div class="keyhole keyhole-left keyhole-out"></div>
						<div class="keyhole keyhole-left mouse-off keyhole-fade-in"></div>
						<div class="keyhole keyhole-center mouse-off"></div>
						<div class="keyhole keyhole-right mouse-off"></div>
					{% elseif page.header.keyholes == "b" %}
						<div class="keyhole keyhole-left mouse-off"></div>
						<div class="keyhole keyhole-center keyhole-out"></div>
						<div class="keyhole keyhole-center mouse-off keyhole-fade-in"></div>
						<div class="keyhole keyhole-right mouse-off"></div>
					{% elseif page.header.keyholes == "c" %}
						<div class="keyhole keyhole-left mouse-off"></div>
						<div class="keyhole keyhole-center mouse-off"></div>
						<div class="keyhole keyhole-right keyhole-out"></div>
						<div class="keyhole keyhole-right mouse-off keyhole-fade-in"></div>
					{% else %}
					<div class="keyhole keyhole-left mouse-off"></div>
					<div class="keyhole keyhole-center mouse-off"></div>
					<div class="keyhole keyhole-right mouse-off"></div>
					{% endif %}
				</div>
			{% endif %}
			#}

			{# Keys #}
			{% if page.header.keys %}
				{% for name in 1..page.header.keys %}
					<div class="key"></div>
				{% endfor %}
			{% endif %}

			{# Fade to white "white screen" #}
			{% if page.header.effect == "final-fade" %}
				<div id="white-screen"></div>
			{% endif %}

			{% include 'partials/return.html.twig' %}
	{% endblock %}
{% endembed %}
