{% embed 'partials/base.html.twig' %}
  {% block content %}

    {% include 'partials/audio.html.twig' %}

    {# Verses #}
    {% for item in page.header.verses %}
      <div class="verse" id="{{ item.name }}">
        {{ item.reference }}
        {{ item.content }}
      </div>
    {% endfor %}

    {# Locks #}
    <ul id="locks">
      {% for item in page.header.verses %}
        <li class="lock" id="lock-{{ loop.index }}">
          <div class="lock-flash";>
            <div class="lock-flicker"></div>
          </div>
        </li>
      {% endfor %}
    </ul>

    {# Keys #}
      <ul id="keys">
        {% for item in page.header.verses %}
          <div class="key" id="key-{{ loop.index }}"></div>
        {% endfor %}
      </ul>
  {% endblock %}
{% endembed %}
